* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #353535; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.app-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.account {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 2;
  background-color: rgba(105, 105, 245, 0.986); }

.mail, .images, .notification, .popup, .account {
  margin: 10px 15px; }

.popup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/popup_icon.svg);
  background-repeat: no-repeat;
  background-position: center; }
  .popup .popup__checkbox {
    width: 30px;
    height: 30px; }
    .popup .popup__checkbox:checked ~ .wrapper .drop-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }

.wrapper {
  position: absolute;
  top: 70px; }
  .wrapper::before {
    content: '';
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    width: 15px;
    background-color: white;
    height: 15px;
    position: absolute;
    left: 143px;
    top: -8px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.drop-menu {
  display: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 384px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto; }
  .drop-menu .drop-menu__more-items {
    display: none; }
  .drop-menu .drop-menu__more-items-checkbox {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #ddd; }
    .drop-menu .drop-menu__more-items-checkbox:checked {
      width: 80%;
      height: 2px;
      outline: 0px solid white; }

.drop-menu__more-items-checkbox:checked ~ .drop-menu__more-items {
  display: block; }

.drop-menu li {
  border: 1px solid white;
  margin: 10px; }
  .drop-menu li:hover {
    border-color: #e5e5e5; }

.more-items-label {
  margin-top: -35px; }

.drop-menu__more-items-checkbox:checked ~ .more-items-label {
  display: none; }

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .item .item__icon {
    margin: 10px;
    width: 49px;
    height: 49px; }

.item--even-more {
  text-decoration: underline; }

.drop-menu__more-items-checkbox, .item--even-more {
  cursor: pointer; }
