$margin-around:  10px;
ul {
  
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(53, 53, 53)
}

header {
  display: flex;
  justify-content: flex-end;
}

.app-list {
  display: flex;
  align-items: center;
}

.mail {
  margin: $margin-around;
}

.images {
  margin: $margin-around;
}

.popup {
  display: flex;
  align-items: center;
}

.notification {
  margin: $margin-around;
}

.drop-menu {
}

.account {
  width: 32px;
  height: 32px;
  margin: $margin-around;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 2;
  background-color: rgba(105, 105, 245, 0.986)
}

.popup__checkbox {
  position: relative;
  width: 0px;
  height: 0px;
}

.popup__label {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-image: url(../img/popup_icon.svg);
  background-size: 30px;
}

.popup__label:hover {
  border: 0.5px solid rgb(94, 94, 255)
}

.popup__checkbox:checked ~ .drop-menu {
  display: flex;
  position: absolute;
  top: 70px;
  background-color: aqua;
}
