ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #353535; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.app-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.mail {
  margin: 10px; }

.images {
  margin: 10px; }

.popup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.notification {
  margin: 10px; }

.account {
  width: 32px;
  height: 32px;
  margin: 10px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 2;
  background-color: rgba(105, 105, 245, 0.986); }

.popup__checkbox {
  position: relative;
  width: 0px;
  height: 0px; }

.popup__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-image: url(../img/popup_icon.svg);
  -webkit-background-size: 30px 30px;
          background-size: 30px; }

.popup__label:hover {
  border: 0.5px solid #5e5eff; }

.popup__checkbox:checked ~ .drop-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 70px;
  background-color: aqua; }
